<div class="album py-5 bg-light">
  <div class="container">
    <div class="row">
      <%= render partial: 'portfolio_item', collection: @portfolio_items %>
    </div>
  </div>
</div>

<!-- <h1>Portfolio Items </h1> -->

<!-- <a href="portfolios/new">Create New Item</a> -->

<!-- link_to "link for an emaik", new_portfolio_url, subdomain: 'shmoover.com' in an email you need to send a url path so that it can link to your site properly -->
