<header class="masthead clearfix">
  <div class="container">
    <div class="inner">
      <!-- <p style="display:inline-block">Web Development by Matthew Israelson</p> -->
      <div class="masthead-brand">SENS</div>

      <nav class="nav nav-masthead justify-content-center app-nav">
        <%= nav_helper 'nav-link', 'span' %>
        <%= login_helper "text-white btn btn-sm btn-outline-secondary" %>

      </nav>
    </div>
  </div>
</header>
