<header class="masthead clearfix">
  <div class="container">
    <div class="inner">
      <!-- <p style="display:inline-block">Web Development by Matthew Israelson</p> -->
      <!-- <div class="masthead-brand"> SENS </div> -->

      <nav class="nav navbar-expand-md justify-content-center gradient-navbar">
        <button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse" data-target="#navbarsExample03" aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
          <div class="collapse navbar-collapse" id="navbarsExample03">
            <%= nav_helper 'nav-link', 'span' %>
            <%= link_to "About Me", "#about-me", class: 'nav-link' %>
            <%= login_helper "text-white btn btn-sm btn-outline-secondary" %>
          </div>
      </nav>
    </div>
  </div>
</header>

<script>
document.querySelector( ".navbar-toggler" )
  .addEventListener( "click", function() {
    this.classList.toggle( "active" );
  });
</script>
