<header class="masthead clearfix">
  <div class="inner">

    <h3 class="masthead-brand">SENS</h3>
    <!-- <p style="display:inline-block">Web Development by Matthew Israelson</p> -->

    <nav class="nav nav-masthead justify-content-center app-nav">
      <%= nav_helper 'nav-link', 'span' %>
      <span><%= login_helper "text-white btn btn-sm btn-outline-secondary" %></span>
    </nav>
  </div>
</header>
