<footer class="mastfoot mt-auto">
  <div class="inner">
  <p class="app-footer"> <%= copyright_generator %> <a href="https://github.com/misraelson"><%= fa_icon "github" %> GitHub </a> <a href="https://www.linkedin.com/in/matthew-israelson/"><%= fa_icon "linkedin" %> LinkedIn</a> </p>

  </div>
</footer>
