<button class="first-hover-button">
    <span>👇 Here's some info about me. Spoiler alert, I'm awesome 🤘</span>
</button>

<div id="about-me">
  <hr>
  <div class="row">
    <div class="col-md-4">
      <%= image_tag "http://static.tvtropes.org/pmwiki/pub/images/alexander_skarsgard.jpg", width: 200, alt: "profile image" %>
    </div>
    <div class="col-md-8">
      <p class="lead">I'm a full-stack developer with a passion for building pixel-perfect responsive front-ends with robust RESTful Rails API backends. Oh, and I make killer scrambled eggs and shred on guitar 🎸</p>

      <p>
        <button
          class="btn btn-primary"
          type="button"
          data-toggle="collapse"
          data-target="#jobHistory"
          aria-expanded="false"
          aria-controller="jobHistroy"
        >
        Web Design
        </button>

        <button
          class="btn btn-primary"
          type="button"
          data-toggle="collapse"
          data-target="#education"
          aria-expanded="false"
          aria-controller="education"
        >
        Education
        </button>
      </p>

      <p>
        <div class="app-card-container">
          <div class="collapse" id="jobHistory">
            <div class="card card-block">
              <a href="https://buymorebucha.com/">
                Bucha Brew Kombucha
              </a>
            </div>
            <div class="card card-block">
              <a href="http://redlinemedialive.com/">
                Red Line Media Inc
              </a>
            </div>
          </div>
          <div class="collapse" id="education">
            <div class="card card-block">
              School 1
            </div>
          </div>
        </div>
      </p>
    </div>
  </div>
</div>

<script>
  document.querySelector('.first-hover-button').onmousemove = function (e) {

    var x = e.pageX - e.target.offsetLeft;
    var y = e.pageY - e.target.offsetTop;

    e.target.style.setProperty('--x', x + 'px');
    e.target.style.setProperty('--y', y + 'px');
  };
</script>
