<button class="first-hover-button">
    <span>👇 Here's some info about me. Spoiler alert, I'm awesome 🤘</span>
</button>

<div id="about-me">
  <hr>
  <div class="row">
    <div class="col-md-4">
      <%= image_tag "http://static.tvtropes.org/pmwiki/pub/images/alexander_skarsgard.jpg", width: 200, alt: "profile image" %>
    </div>
    <div class="col-md-8">
      <p class="lead">
        I was directly responsible for wiring and launching the Stripe API component for a live application that handled Uber style transactions and leveraged the 'managed account' feature for direct deposit. I've packed and delivered the production deployment on AWS and pushed new feature builds live to the Amazon Cloud server via Amazon CLI. Also comfortable being an independent dev building ground-up, beautifully branded Wordpress sites for media companies. Oh, and I make killer scrambled eggs and shred on guitar 🎸
      </p>

      <p>
        <button
          class="btn btn-primary"
          type="button"
          data-toggle="collapse"
          data-target="#jobHistory"
          aria-expanded="false"
          aria-controller="jobHistroy"
        >
        Web Design
        </button>

        <button
          class="btn btn-primary"
          type="button"
          data-toggle="collapse"
          data-target="#education"
          aria-expanded="false"
          aria-controller="education"
        >
        Education
        </button>
      </p>

      <p>
        <div class="app-card-container">
          <div class="collapse" id="jobHistory">
            <div class="card card-block">
              <a href="https://buymorebucha.com/">
                Bucha Brew Kombucha
              </a>
            </div>
            <div class="card card-block">
              <a href="http://redlinemedialive.com/">
                Red Line Media Inc
              </a>
            </div>
          </div>
          <div class="collapse" id="education">
            <div class="card card-block">
              School 1
            </div>
          </div>
        </div>
      </p>
    </div>
  </div>
</div>

<script>
  document.querySelector('.first-hover-button').onmousemove = function (e) {

    var x = e.pageX - e.target.offsetLeft;
    var y = e.pageY - e.target.offsetTop;

    e.target.style.setProperty('--x', x + 'px');
    e.target.style.setProperty('--y', y + 'px');
  };
</script>
