<div class="container">
  <div id="about-me">
    <h1>About</h1>
    <hr>
    <div class="row">
      <div class="col-md-6">
        <%= image_tag "http://static.tvtropes.org/pmwiki/pub/images/alexander_skarsgard.jpg", width: 300, alt: "profile image" %>
      </div>
      <div class="col-md-6">
        <p class="lead">I am passionate about building excellent software that improves the lives of those around me. I specialize in creating software for clients ranging from individuals and small-businesses all the way to large enterprise corporations. All of my work is produced locally in Vancouver, BC. What would you do if you had a software expert available at your fingertips?</p>
      </div>
    </div>
  </div>
</div>
<hr>
