<hr>
<button class="second-hover-button">
    <span>👇 These are my skills. They're awesome too 🤘</span>
</button>
<hr>
<div id="skills">
  <div class="skillbar clearfix " data-percent="85%">
  	<div class="skillbar-title" style="background: orange";><span>HTML5</span></div>
  	<div class="skillbar-bar" style="background: linear-gradient(to right, orange, yellow);"></div>
  	<div class="skill-bar-percent">85%</div>
  </div>

  <div class="skillbar clearfix " data-percent="80%">
  	<div class="skillbar-title" style="background: #fd1d1d"><span>CSS3</span></div>
  	<div class="skillbar-bar" style="background: linear-gradient(to right, #fd1d1d, #833ab4);"></div>
  	<div class="skill-bar-percent">80%</div>
  </div>

  <div class="skillbar clearfix " data-percent="50%">
  	<div class="skillbar-title" style="background: #5f2c82;"><span>jQuery</span></div>
  	<div class="skillbar-bar" style="background: linear-gradient(to right, #5f2c82, #49a09d);"></div>
  	<div class="skill-bar-percent">50%</div>
  </div>

  <div class="skillbar clearfix " data-percent="90%">
  	<div class="skillbar-title" style="background: #CC0000"><span>Rails 5</span></div>
  	<div class="skillbar-bar" style="background: linear-gradient(to right, #CC0000, #ff5858)"></div>
  	<div class="skill-bar-percent">90%</div>
  </div>

  <div class="skillbar clearfix " data-percent="60%">
  	<div class="skillbar-title" style="background: #00d8ff;"><span>React</span></div>
  	<div class="skillbar-bar" style="background: linear-gradient(to right, #0abfbc, #00d8ff)"></div>
  	<div class="skill-bar-percent">60%</div>
  </div>
</div>

<script>
  document.querySelector('.second-hover-button').onmousemove = function (e) {
    var x = e.pageX - e.target.offsetLeft;
    var y = e.pageY - e.target.offsetTop;

    e.target.style.setProperty('--x', x + 'px');
    e.target.style.setProperty('--y', y + 'px');
  };
</script>

<!-- script to animate skill bar when user scrolls down and section comes into view -->
<script>
var skillsDiv = $('.skillbar');

$(window).on('scroll', function(){
	var winT = $(window).scrollTop(),
  	winH = $(window).height(),
  	skillsT = skillsDiv.offset().top;
  if(winT + winH  > skillsT){
  	$('.skillbar').each(function(){
      $(this).find('.skillbar-bar').animate({
        width:$(this).attr('data-percent')
      },6000);
    });
  }
});
</script>
