<hr>
<button class="third-hover-button">
    <span>👇 This is for fun 🤘</span>
</button>
<hr>
<!-- helper method found in pages_helper.rb -->
<div class="row sortable">
  <% sortable_blocks_helper.each do |letter| %>
    <div class="col-xs-6 col-sm-2">
      <div class="sortable-card mb-4 box-shadow" data-id="letter_block">
          <div class="card-body">
              <h3 class="card-title"><%= letter %></h3>
          </div>
      </div>
    </div>
  <% end %>
</div>

<%= javascript_include_tag "randomcolor" %>
<%= javascript_include_tag "cardbody-randomcolor" %>

<script>
  document.querySelector('.third-hover-button').onmousemove = function (e) {
    var x = e.pageX - e.target.offsetLeft;
    var y = e.pageY - e.target.offsetTop;

    e.target.style.setProperty('--x', x + 'px');
    e.target.style.setProperty('--y', y + 'px');
  };
</script>
