<h1>Would You Like to Build Together?</h1>

  <div class="row">
    <div class="col-md-6">
      <h3> Phone Number </h3>
        <p><%= number_to_phone "5145782084" %></p>

      <h3> Email </h3>
        <p><a href="mailto:misraelson@gmail.com?subject=SensPortfolioContact" "email me">Email Me</a> </p>

      <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d10410.825557225473!2d-123.1086604!3d49.2819605!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xcac634054e7082c6!2sCodeCore!5e0!3m2!1sen!2sca!4v1525895502993" width="600" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
  </div>
