$enable-gradients: true;
$enable-transitions: true;
@import "bootstrap";
@import "jquery-ui";
@import "gritter";
@import url('https://fonts.googleapis.com/css?family=Monoton');
@import url('https://fonts.googleapis.com/css?family=Varela+Round');


/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
}

body {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  justify-content: center;
  color: #fff;
  // text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  // box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}

.cover-container {
  max-width: 42em;
}


/*
 * Header
 */
.masthead {
  margin-bottom: 2rem;
}

.masthead-brand {
  font: 40px "Monoton", sans-serif; font-weight: 400;
  padding: .25rem 0;
}

.nav-masthead {
  display: inline-flex;
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  // margin-bottom: 2rem;
  font-weight: 700;
  // color: #fcb045;
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: #833ab4;
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
  margin-right: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

@media (width: 100em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}


/*
 * Cover
 */
.cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}


/*
 * Footer
 */
.mastfoot {
  color: rgba(255, 255, 255, .5);
}

// style for devise/registrations/edit

:root {
  --input-padding-x: .75rem;
  --input-padding-y: .75rem;
}

.form-signin {
  width: 100%;
  // max-width: 420px;
  padding: 10px;
  margin: 0 auto;
}

.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}

.form-label-group > input,
.form-label-group > label {
  padding: var(--input-padding-y) var(--input-padding-x);
}

.form-label-group > label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  margin-bottom: 0; /* Override default `<label>` margin */
  line-height: 1.5;
  color: #495057;
  border: 1px solid transparent;
  border-radius: .25rem;
  transition: all .1s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder {
  color: black;
}

.form-label-group input:-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-moz-placeholder {
  color: transparent;
}

.form-label-group input::placeholder {
  color: transparent;
}

.form-label-group input:not(:placeholder-shown) {
  padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
  padding-bottom: calc(var(--input-padding-y) / 3);
}

.form-label-group input:not(:placeholder-shown) ~ label {
  padding-top: calc(var(--input-padding-y) / 3);
  padding-bottom: calc(var(--input-padding-y) / 3);
  font-size: 12px;
  color: #777;
}

.auth-links a {
  color: white;
}

.app-nav span {
  margin-left: 15px;
  margin-right: 15px;
}

#background {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  filter:opacity(80%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background: image-url('portfolio-background.jpg') no-repeat;
  background-size: cover;
}

.app-footer {
  color: white
}

// CUSTOM COLOR ON HOME.HTML.ERB ------>
// Custom highlight NAME COLOR on homepage
.highlight-name {
  background: -webkit-linear-gradient(#E31B6D, #6a3093);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
    // vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}
.highlight-name:hover,
.highlight-name:focus,
.highlight-name:active {
    transform: scale(1.1);
}

.alpha { color: $indigo; }
// Color end <------

// VIEW MY WORK custom button gradient animation on home page ------>
.gradient-button-container {
  display: flex;
  // justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  width: 80vw;
  margin: 0 auto;
}
.hoverbutton {
  // font-family: 'Varela Round', sans-serif;
  // flex: 1 1 auto;
  letter-spacing: 0.1em;
  margin-bottom: 20px;
  padding: 20px;
  box-shadow: 0.5vw 0.5vw 0 $cyan;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 10px;
 }
 .hoverbutton:hover {
  background-position: right center; /* change the direction of the change here */
  box-shadow: 0.2vw 0.2vw 0 lightcoral;
}
.gradient-button {
  background-image: linear-gradient(to right, #E31B6D 0%, #a044ff 51%, #00dbde 100%);
}
// button end <---------

// CUSTOM NAVBAR gradient color animation on hover ------------>
.gradient-navbar {
  display: inline-flex;
  background: transparent;
  text-transform: uppercase;
  font-weight: 500;
  // font-size: 0.625rem;
  letter-spacing: 0.3em;
  color: rgba(223,190,106,0.7);
  border-radius: 0;
  padding: 20px;
  transition: all 0.7s ease-out;
  background: linear-gradient(270deg, #E31B6D, #a044ff, rgba(34,34,34,0), rgba(34,34,34,0));
  // background: linear-gradient(270deg, #E31B6D 0%, #a044ff 51%, #00dbde 100%);
  background-position: 1% 50%;
  background-size: 300% 300%;
  text-decoration: none;
  // margin: 0.625rem;
  border: none;
  border: 1px solid #00dbde;
  border-radius: 5px;
}

.gradient-navbar:hover {
  color: #fff;
  border: 1px solid #a044ff;
  color: $white;
  background-position: 99% 50%;
}
// NAVBAR end <-----------------

// CUSTOM HAMBURGER TOGGLER transition to X on click --------------->
.navbar-toggler { cursor: pointer; padding: 10px 35px 16px 0px; }
.navbar-toggler span, .navbar-toggler span:before, .navbar-toggler span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 5px;
  width: 35px;
  background: white;
  position: absolute;
  display: block;
  content: '';
}
.navbar-toggler span:before {
  top: -10px;
}
.navbar-toggler span:after {
  bottom: -10px;
}

.navbar-toggler span, .navbar-toggler span:before, .navbar-toggler span:after {
  transition: all 500ms ease-in-out;
}
.navbar-toggler.active span {
  background-color: transparent;
}
.navbar-toggler.active span:before, .navbar-toggler.active span:after {
  top: 0;
}
.navbar-toggler.active span:before {
  transform: rotate(45deg);
}
.navbar-toggler.active span:after {
  transform: rotate(-45deg);
}
// HAMBURGER TOGGLER end <-----------------

// SKILLBAR --------------->
.skillbar {
	position:relative;
	display:block;
	margin-bottom:15px;
	width:100%;
	background:#eee;
	height:35px;
	border-radius: 100px;
	-moz-border-radius:100px;
	-webkit-border-radius:100px;
	-webkit-transition:0.4s linear;
	-moz-transition:0.4s linear;
	-ms-transition:0.4s linear;
	-o-transition:0.4s linear;
	transition:0.4s linear;
	-webkit-transition-property:width, background-color;
	-moz-transition-property:width, background-color;
	-ms-transition-property:width, background-color;
	-o-transition-property:width, background-color;
	transition-property:width, background-color;
}

.skillbar-title {
	position:absolute;
	top:0;
	left:0;
  width:110px;
	font-weight:bold;
	font-size:13px;
	color:#ffffff;
	background:#6adcfa;
	-webkit-border-top-left-radius:100px;
	-webkit-border-bottom-left-radius:100px;
	-moz-border-radius-topleft:100px;
	-moz-border-radius-bottomleft:100px;
	border-top-left-radius:100px;
	border-bottom-left-radius:100px;
}

.skillbar-title span {
	display:block;
	background:rgba(0, 0, 0, 0.1);
	padding:0 20px;
	height:35px;
	line-height:35px;
	-webkit-border-top-left-radius:100px;
	-webkit-border-bottom-left-radius:100px;
	-moz-border-radius-topleft:100px;
	-moz-border-radius-bottomleft:100px;
	border-top-left-radius:100px;
	border-bottom-left-radius:100px;
}

.skillbar-bar {
	height:35px;
	width:0px;
	background:#6adcfa;
	border-radius: 100px;
	-moz-border-radius:100px;
	-webkit-border-radius:100px;
}

.skill-bar-percent {
	position:absolute;
	right:10px;
	top:0;
	font-size:11px;
	height:35px;
	line-height:35px;
	color:#ffffff;
	color:rgba(0, 0, 0, 0.4);
}
// SKILLBAR end <-----------------


.cool-hover-button {
    position: relative;
    appearance: none;
    background: #f72359;
    padding: 1em 2em;
    border: none;
    color: white;
    font-size: 1.2em;
    cursor: pointer;
    outline: none;
    overflow: hidden;
    border-radius: 100px;

    span {
        position: relative;
        pointer-events: none;
    }

    &::before {
        --size: 0;

        content: '';
        position: absolute;
        left: var(--x);
        top: var(--y);
        width: var(--size);
        height: var(--size);
        background: radial-gradient(circle closest-side, #4405f7, transparent);
        transform: translate(-50%, -50%);
        transition: width .2s ease, height .2s ease;
    }

    &:hover::before {
        --size: 400px;
    }
}
.another-hover-button {
    position: relative;
    appearance: none;
    background: #f72359;
    padding: 1em 2em;
    border: none;
    color: white;
    font-size: 1.2em;
    cursor: pointer;
    outline: none;
    overflow: hidden;
    border-radius: 100px;

    span {
        position: relative;
        pointer-events: none;
    }

    &::before {
        --size: 0;

        content: '';
        position: absolute;
        left: var(--x);
        top: var(--y);
        width: var(--size);
        height: var(--size);
        background: radial-gradient(circle closest-side, #4405f7, transparent);
        transform: translate(-50%, -50%);
        transition: width .2s ease, height .2s ease;
    }

    &:hover::before {
        --size: 400px;
    }
}
